<div class="row top-buffer">
  <div class="col">
    <h4>Purpose</h4>
    <p>
      The purpose of this site is to allow users to explore the phenomenon of cellular automaton within the bounds of
      the game of life. The user can experiment with their own creations, view over 1000 previously created templates,
      and apply different themes to create beautiful life forms.
    </p>
  </div>
</div>
<div class="row top-buffer">
  <div class="col">
    <h4>Tabs</h4>
    <p>Here are some details about each of the tabs on the site.</p>
    <ul>
      <li>
        <b>Board</b> The game of life game board.
      </li>
      <li>
        <b>Templates</b> A massive list of game of life blueprints. Over 1000! Don't forget to mouse over
        (or press for mobile) to preview the template.
      </li>
      <li>
        <b>Themes</b> Themes gives you the ability to change how the game of life board looks. Be sure to turn on generations
        for some neat effects, but for larger templates, it is best to turn this feature off.
      </li>
      <li>
        <b>About</b> General details about the site, the game of life, and some interesting links.
      </li>
    </ul>
  </div>
</div>
<div class="row top-buffer">
  <div class="col">
    <h4>Development</h4>
    <p>
      I originally started on this site because I wanted to learn how to use the javascript framework
      <a href="https://angular.io/" target="_blank">Angular</a>. It was never meant to be a fully operational
      website. Unfortunately, I broke my ankle playing soccer which gave me a lot more free time. Lacking inspiration
      I kept pushing this site further and further until it looks like the site you see today.
    </p>
    <p>
      The game of life algorithm I used is called
      <a href="http://dotat.at/prog/life/life.html" target="_blank">Tony Finch's List Life algorithm</a>. I also used
      <a href="http://pmav.eu/stuff/javascript-game-of-life-v3.1.1/" target="_blank">this site</a> as inspiration for
      my choice of algorithm and used the site to help me through learning the best way to utilize the html canvas
      element.
    </p>
    <p>
      For future development I would like the site to use the Hashlife algorithm since the list life algorithm doesn't
      handle large cellular automaton. I would also like to fix some of the loading times on the template page.
      That's about it really. Site is pretty much done. I have no interest in adding a backend on this project. If you
      are interested in contributing to the site, check it out on
      <a href="https://github.com/Jimeh87/game-of-life" target="_blank">GitHub</a>.
    </p>
  </div>
</div>
