<div class="row bottom-buffer">
  <div class="col">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/game-board"><i class="fa fa-th" aria-hidden="true"></i> Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="templates"><i class="fa fa-picture-o" aria-hidden="true"></i> Templates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="themes"><i class="fa fa-paint-brush" aria-hidden="true"></i> Themes</a>
      </li>
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" routerLinkActive="active" routerLink="about"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
      </li>
    </ul>
  </div>
</div>
