<div class="row top-buffer">
  <div class="col">
    <h4>Links</h4>
    <a href="https://github.com/Jimeh87/game-of-life" target="_blank">Github page</a> The sites GitHub page.<br/>
    <a href="http://copy.sh/life/" target="_blank">Copy.sh Game of life</a> A really great implementation of the
      game of life. It uses the HashLife algorithm so it can handle very large cellular automaton.<br/>
    <a href="http://www.conwaylife.com/wiki/Main_Page" target="_blank">Game Of Life Wiki</a> The game of life wiki.<br/>
    <a href="http://dotat.at/prog/life/life.html" target="_blank">List life algorithm</a> The algorithm used to simulate the game of life.<br/>
    <a href="https://www.youtube.com/watch?v=CgOcEZinQ2I" target="_blank">Game of life video</a> Video describing the game of life.<br/>
  </div>
</div>
